/** Tag selectors **/

body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

p {
    color: #8f8f8f;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

footer{
    margin: 2%;
}


/******** Website common selectors********/

.background-beige{
    background-color: #fbf7f0;
}
.background-lightgrey{
    background-color: #f2f2f2;
}
.background-grey{
    background-color:#d8d3cd;
}
.link-nostyle{
    text-decoration: none;
    color: #212529;
}
.link-nostyle:hover{
    text-decoration: none;
    color: #212529;
}
.text-white{
    color: white;
}

/** Container and headings selectors **/
.row{
    margin: 0;
}
.container-fluid{
    padding: 4% 15%;
}
.heading-big{
    font-size: 4rem;
}

.heading-medium{
    font-size: 2.5rem;
    padding-bottom: 3%;
}

@media(max-width: 991px){
    .container-fluid{
        padding: 4% 4%;
    }
    .heading-big{
        text-align: center;
        font-size: 2rem;
    }
    .heading-medium{
        font-size: 1.75rem;
    }
    .heading-small{
        font-size: 1.25rem;
    }
}
@media only screen and (max-width:1025px) and (min-width:992px){
    .heading-big{
        font-size: 3rem;
    }
    .heading-medium{
        font-size:2rem;
    }
    .heading-small{
        font-size: 1.35rem;
    }
    .container-fluid{
        padding: 4% 4%;
    }
}


/** Form selectors **/
main .form-control{    
    display: inline-block;
    max-width: 400px;
}

main .form-index{
    display: inline-block;
    width: 100px;
}

main .form-group{
    margin-bottom: 1.2rem;
}

input:placeholder-shown, textarea:placeholder-shown{
    font-style: italic;
}

/** Buttons selectors **/
.small-button{
    border-radius: 2rem;    
    padding: 0.5rem 1.5rem;
}
.big-button{
    padding: .75rem 2rem;
    border-radius: 2rem;
    background-color: #335d2d;
    border-color: #335d2d;
}
.big-button:hover{
    background-color: #23411e;
}
@media(max-width: 991px){    
    .big-button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.big-button-light{
    padding: .75rem 2rem;
    border-radius: 2rem;
}
.arrow{
    color: white;
}


/******** Navbar section********/

.container-fluid.menu-bar{
    padding: 3% 15% 0;
}
@media(max-width: 1025px){
    .container-fluid.menu-bar{
        padding: 3% 4% 0;
    }
}

.navbar{
    padding-left: 0;
    padding-right: 0;
}

.nav-item{
    padding-left: 18px;
    font-size: 1.2rem;
}
@media(max-width: 767px){
    .hide-text{
        display: none;
    }
}


/******** Title section********/

.title-text{
    text-align: left;
    padding-top: 50px;
}

.title-description{
    padding: 4.5% 0;
    line-height: 1.5;
}

.image-heading{
    width: 100%;
    max-width: 800px;
    height: auto;
}

@media(max-width: 991px){
    .title-description{
        text-align: center;
        font-size: 1rem;
    }
}

/******** Features section********/


.feature{
    padding: 0 2%;
}

.feature-icons{
    color:#335d2d;
    margin-bottom: 1rem;
}

.feature-icons:hover{
    color: #23411e;
}

/******** How It Works section********/

.work-card{
    padding: 0 2% 3%;
}

.card{
    border-radius: 2rem;
}

.card-body{
    padding: 8%;
}

.image-medium{
    width: 100%;
    max-width: 100px;
    margin: 8%;
    height: auto;
    text-align: center;
    opacity: 50%;
}

/******** CTA section********/
.cta{
    background-color: #335d2d;
}

/******** Login Page ********/

.login-page-text{
    padding: 5%;
}

.image-login{
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 30px;
}

/******** Register and Login Page ********/

.register-background{
    background-image: url(/static/register-image-square.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
@media(max-width: 991px){
    .register-background{
    display: none;
    }
}
.register-form-side{
    padding: 4% 10%;
}
.register-form-side .heading-big{
    padding: 7% 0;
}
.form-signing{
    border-radius: 25px;
    padding: 0 30px;
    height: 50px;
}
.button-form{
    border-radius: 25px;
    padding: 0 30px;
    height: 50px;
    max-width: 400px;
    background-color: #335d2d;
    border-color: #335d2d;
}
.button-form:hover{
    background-color: #23411e;
}
.checkbox{
    margin: 0.5rem 0 1.7rem;
}
.form-error{
    color: red;
    font-style: italic;
    font-size: 80%;
}


/******** Add Recipe Page ********/
.add-heading{
    background-color:#bedbbb;
    padding: 1.5%;
    border: 1px;
    border-color: #8db596;
}

.button-left{
    float: left;    
}

.remove-button{
    padding: 0.15rem 0.45rem;
}


.input100{
    display: block;
    width: 100%;
    background: #f2f2f2;
    border-radius: 2px;
    font-size: 16px;
    color: #686868;
    line-height: 1.2;
    padding: 10px 30px;
    margin-top: 10px;
    border-width: 0;
}

.label-input100{
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    color: #17a2b8;

}

.wrap-input100{
    width: 100%;
    position: relative;
    margin-bottom: 2%;
    text-align: left;    
}

.wrap-right{
    padding-left: 1.5rem;
}

.input_inline{
    display: inline-block;
    max-width: 300px;
    background: #f2f2f2;
    border-radius: 2px;
    font-size: 16px;
    color: #686868;
    line-height: 1.2;
    padding: 10px 30px;
    margin-top: 10px;
    border-width: 0;
}

.width100-button{
    padding: 1rem 0;
    width: 100%;
    font-size: 1.75rem;
    line-height: 1.2;
    border-radius: 0;
    background-color: #335d2d;
    border-color: #335d2d;
}

.width100-button:hover{
    background-color: #23411e;
}

@media(max-width:768px){
    .wrap-input100{
        padding-left: 0;
    }
    .input_inline{
        width: 100%;
    }
    .button-left{
        float: none;
    }
}

.image-container{
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;
    text-align: left;
}

.recipe-image{    
    position: absolute;
    width: auto;
    min-width: 100%;
    min-height: 100%;   
    object-fit: cover; 
}

#ingredients .input_inline, #categories .input_inline{
    display: inline-block;
    max-width: 80%;
    width: 100%;
    background: #f2f2f2;
    border-radius: 2px;
    font-size: 1rem;
    color: #686868;
    line-height: 1.2;
    padding: 10px 30px;
    margin-top: 10px;
    border-width: 0;
}

.w80{
  max-width: 80%;
}

.add-directions{
    height: 300px;
}


/******** MyHome Page ********/

.list{
    padding-inline-start: 0;
}
.recipe-div:hover{   
    border-radius: 15px;
    background-color: #fbf7f0;
}
.category-header {
    font-weight: bold;
    list-style-type: none;
    text-align: left;
    font-size: 1.25rem;
}
.category-list{
    list-style-type: none;
    text-align: left;
    font-size: 1rem;
    text-decoration: none;
    color:#212529;
    line-height: 2;
}
.categories .category-list:hover{
    background-color: #fbf7f0;
}

.recipe-image-small{
    max-width: 350px;
    height: auto;
    width: 100%;
    margin-bottom: 3%;
    padding-top: 15px;
}

.display-border-left{
    border-left: 1px solid lightgrey;
    padding-right: 0;
}

.div-right{
    position: relative;
}

.search-bar{
    width: 250px;      
    border-radius: 2rem; 
    background-color: #f2f2f2;  
    position: absolute; 
    right:0;
}

.search-bar input, .search-bar input:focus {
    border:none;
    padding: 0 1.5rem;
    background:transparent;    
    outline:none;
    box-shadow: none;
    height: 2.75rem;
}

.search-bar button{
    position: absolute;
    right: 0;
    border-radius: 50%;
    float: right;
    height: 35px;
    width: 35px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 5px;
}
@media(max-width:767px){
    .categories .category-header, .categories .category-list{
        text-align: center;
    }
    .display-border-left{
        border-left:none;
        border-top: 1px solid lightgrey;
        padding-top: 4%;
        padding-right: 15px;
    }
    .search-bar{
        margin-right: 0;
        position: relative;
        width: auto;
    }
}

/******** Recipe Page ********/

.recipepage-img{
    max-width: 500px;
    width: 100%;
    height: auto;    
}
.recipepage-section{
    padding: 3%;
}

.bottom-to-div{
    position: absolute;
    bottom: 0;
}
@media(max-width:1025px){
    .bottom-to-div{
        position: relative;
    }
}

.recipe-directions{
    white-space: pre-wrap;
}